@import url('../../global/rootColors.css');

.largeTitle {
    color: white;
    font-size: 4em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.title1 {
    color: white;
    text-align: left;
}

.caption {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white
}

.caption2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.headline {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.callout {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.callout2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #929292;
}