@import url('../../global/rootColors.css');

.largeTitle {
    font-size: 4em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.title1 {
    text-align: left;
    font-size: 3em;
}

.title2 {
    text-align: left;
    font-size: 2em;

}

.caption {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.caption2 {
    font-weight: 600;
    font-size: 1.4em;
    line-height: 24px;
}

.headline {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.callout {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.callout2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #929292;
}

@media only screen and (max-width: 600px) {
    .largeTitle {
        font-size: 2em;
    }
}
