.projects_container {
    margin-top: 2em;
}

.project_container {
    border-radius: 10px;
    display: flex;
    padding: 2em;
    justify-content: space-between;
    margin-bottom: 2em;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.left > span {
    color: #CFCFCF;
}

.project_thumbnail {
    width: 40vmin;
    object-fit: contain;
}

.project_thumbnail_mobile {
    display: none;
    object-fit: contain;
}

.button {
    border: 1px solid white;
    padding: 1em 4em 1em;
    text-decoration: none;
    color: white;
    align-self: start;
    margin-top: 5em;
}

@media only screen and (max-width: 600px) {
    .projects_container {
        max-width: 65vmin;
    }

    .project_container {
        flex-direction: column;
        width: 100%
    }

    .left {
        max-width: 100%
    }

    .project_thumbnail_mobile {
        display: inline;
        width: 38vmin;
        align-self: center;
        object-fit: contain;
    }

    .project_thumbnail {
        display: none;
        object-fit: contain;
    }
    
}
