.projects_container {
    margin-top: 2em;;
}

.project_container {
    border-radius: 10px;
    display: flex;
    padding: 2em;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.left > span {
    color: #CFCFCF;
}

.project_thumbnail {
    width: 40vmin;
}

.button {
    border: 1px solid white;
    padding: 1em 4em 1em;
    text-decoration: none;
    color: white;
    align-self: start;
    margin-top: 5em;
}